In [1]:
import pandas as pd
import numpy as np
import csv

In [7]:
song_data=pd.read_csv("csv/allsongs.csv")

C:\Users\luger\AppData\Local\Temp\ipykernel_21472\3420914718.py:1: DtypeWarning: Columns (3,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  song_data=pd.read_csv("csv/allsongs.csv")

In [10]:
song_data = pd.read_csv("csv/allsongs.csv",dtype={'ms_played': 'int', 'spotify_episode_uri': 'str','episode_name':'str','episode_show_name':'str'})

ValueError: Integer column has NA values in column 3

In [5]:
song_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166253 entries, 0 to 166252
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   ts                                 166253 non-null  object
 1   username                           28531 non-null   object
 2   platform                           28519 non-null   object
 3   ms_played                          28519 non-null   object
 4   conn_country                       28504 non-null   object
 5   ip_addr_decrypted                  28516 non-null   object
 6   user_agent_decrypted               28327 non-null   object
 7   master_metadata_track_name         25787 non-null   object
 8   master_metadata_album_artist_name  25775 non-null   object
 9   master_metadata_album_album_name   25787 non-null   object
 10  spotify_track_uri                  25772 non-null   object
 11  episode_name                       697 non-null     object
 12  episode_show_name                  685 non-null     object
 13  spotify_episode_uri                685 non-null     object
 14  reason_start                       28503 non-null   object
 15  reason_end                         28503 non-null   object
 16  shuffle                            28504 non-null   object
 17  skipped                            1347 non-null    float64
 18  offline                            28504 non-null   object
 19  offline_timestamp                  28504 non-null   float64
 20  incognito_mode;;;;;                28504 non-null   object
dtypes: float64(2), object(19)
memory usage: 26.6+ MB

In [3]:
song_data.index.name = 'index'


songd_type = type(song_data)
songd_shape = song_data.shape

print(songd_type, songd_shape)

<class 'pandas.core.frame.DataFrame'> (166253, 20)

In [4]:
song_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 166253 entries, 2014-06-20T12:13:54Z to 2022-12-18T22:59:13Z,resi_maresi,"Android OS 10 API 29 (HUAWEI JNY-LX1)",49507,AT,62.240.134.80,unknown,Seventeen,Troye Sivan,Bloom,spotify:track:7iyKbBjb2fmTnTfCjCh7ER,,,,trackdone,unexpected-exit-while-paused,True,,False,1671376201078,False;;;;;
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   username                           28531 non-null  object
 1   platform                           28519 non-null  object
 2   ms_played                          28519 non-null  object
 3   conn_country                       28504 non-null  object
 4   ip_addr_decrypted                  28516 non-null  object
 5   user_agent_decrypted               28327 non-null  object
 6   master_metadata_track_name         25787 non-null  object
 7   master_metadata_album_artist_name  25775 non-null  object
 8   master_metadata_album_album_name   25787 non-null  object
 9   spotify_track_uri                  25772 non-null  object
 10  episode_name                       697 non-null    object
 11  episode_show_name                  685 non-null    object
 12  spotify_episode_uri                685 non-null    object
 13  reason_start                       28503 non-null  object
 14  reason_end                         28503 non-null  object
 15  shuffle                            28504 non-null  object
 16  skipped                            1347 non-null   float64
 17  offline                            28504 non-null  object
 18  offline_timestamp                  28504 non-null  float64
 19  incognito_mode;;;;;                28504 non-null  object
dtypes: float64(2), object(18)
memory usage: 26.6+ MB

In [5]:
song_data.columns

Index(['username', 'platform', 'ms_played', 'conn_country',
       'ip_addr_decrypted', 'user_agent_decrypted',
       'master_metadata_track_name', 'master_metadata_album_artist_name',
       'master_metadata_album_album_name', 'spotify_track_uri', 'episode_name',
       'episode_show_name', 'spotify_episode_uri', 'reason_start',
       'reason_end', 'shuffle', 'skipped', 'offline', 'offline_timestamp',
       'incognito_mode;;;;;'],
      dtype='object')

In [6]:
song_data = song_data.rename_axis('index1').reset_index()

In [7]:
song_data=song_data.rename(columns={'conn_country':'country','ip_addr_decrypted':'ip_addr','master_metadata_track_name':'track','master_metadata_album_artist_name':'artist','master_metadata_album_album_name':'album','episode_show_name':'podcast_show','incognito_mode;;;;;':'incognito_mode','index1':'date_time'})

In [8]:
song_data.columns

Index(['date_time', 'username', 'platform', 'ms_played', 'country', 'ip_addr',
       'user_agent_decrypted', 'track', 'artist', 'album', 'spotify_track_uri',
       'episode_name', 'podcast_show', 'spotify_episode_uri', 'reason_start',
       'reason_end', 'shuffle', 'skipped', 'offline', 'offline_timestamp',
       'incognito_mode'],
      dtype='object')

In [9]:
song_data['date']=song_data['date_time'].str.slice(stop=11)
song_data['time']=song_data['date_time'].str.slice(start=11)

In [10]:
song_data.drop(['ip_addr','user_agent_decrypted','spotify_track_uri','episode_name', 'podcast_show', 'spotify_episode_uri','offline_timestamp','incognito_mode','username','date_time'],axis=1,inplace=True)

In [11]:
song_data.head()

,platform,ms_played,country,track,artist,album,reason_start,reason_end,shuffle,skipped,offline,date,time
0,Windows 8 (6.2.9200; x64),252760,AT,One,Ed Sheeran,x,clickrow,trackdone,False,0.0,False,2014-06-20T,12:13:54Z
1,Windows 8 (6.2.9200; x64),244573,AT,I'm a Mess,Ed Sheeran,x,trackdone,trackdone,False,0.0,False,2014-06-20T,12:17:58Z
2,Windows 8 (6.2.9200; x64),78941,AT,Sing,Ed Sheeran,x,trackdone,clickrow,False,1.0,False,2014-06-20T,12:19:17Z
3,Windows 8 (6.2.9200; x64),15713,AT,Don't,Ed Sheeran,x,clickrow,clickrow,False,1.0,False,2014-06-20T,12:19:34Z
4,Windows 8 (6.2.9200; x64),225533,AT,Nina,Ed Sheeran,x,clickrow,trackdone,False,0.0,False,2014-06-20T,12:23:21Z

In [13]:
song_data = song_data[['date', 'time','country','track','artist','album', 'ms_played','reason_start','reason_end','shuffle','skipped','offline','platform']]

In [14]:
song_data.head()

,date,time,country,track,artist,album,ms_played,reason_start,reason_end,shuffle,skipped,offline,platform
0,2014-06-20T,12:13:54Z,AT,One,Ed Sheeran,x,252760,clickrow,trackdone,False,0.0,False,Windows 8 (6.2.9200; x64)
1,2014-06-20T,12:17:58Z,AT,I'm a Mess,Ed Sheeran,x,244573,trackdone,trackdone,False,0.0,False,Windows 8 (6.2.9200; x64)
2,2014-06-20T,12:19:17Z,AT,Sing,Ed Sheeran,x,78941,trackdone,clickrow,False,1.0,False,Windows 8 (6.2.9200; x64)
3,2014-06-20T,12:19:34Z,AT,Don't,Ed Sheeran,x,15713,clickrow,clickrow,False,1.0,False,Windows 8 (6.2.9200; x64)
4,2014-06-20T,12:23:21Z,AT,Nina,Ed Sheeran,x,225533,clickrow,trackdone,False,0.0,False,Windows 8 (6.2.9200; x64)

In [19]:
song_data['artist'].describe()

count         25775
unique         2682
top       The Maine
freq           1065
Name: artist, dtype: object

In [20]:
song_data['track'].describe()

count           25787
unique           6687
top       Tribulation
freq               38
Name: track, dtype: object

In [22]:
song_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166253 entries, 0 to 166252
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          166253 non-null  object
 1   time          166253 non-null  object
 2   country       28504 non-null   object
 3   track         25787 non-null   object
 4   artist        25775 non-null   object
 5   album         25787 non-null   object
 6   ms_played     28519 non-null   object
 7   reason_start  28503 non-null   object
 8   reason_end    28503 non-null   object
 9   shuffle       28504 non-null   object
 10  skipped       1347 non-null    float64
 11  offline       28504 non-null   object
 12  platform      28519 non-null   object
dtypes: float64(1), object(12)
memory usage: 16.5+ MB

In [23]:
song_data.tail()

,date,time,country,track,artist,album,ms_played,reason_start,reason_end,shuffle,skipped,offline,platform
166248,2022-12-18T,"15:04:07Z,resi_maresi,""Android OS 10 API 29 (H...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166249,2022-12-18T,"15:04:12Z,resi_maresi,""Android OS 10 API 29 (H...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166250,2022-12-18T,"15:06:52Z,resi_maresi,""Android OS 10 API 29 (H...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166251,2022-12-18T,"15:10:00Z,resi_maresi,""Android OS 10 API 29 (H...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166252,2022-12-18T,"22:59:13Z,resi_maresi,""Android OS 10 API 29 (H...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN